*.iml
.gradle
.idea

build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
/gradle
/local.properties
/app/build
/app/libs
/app/src/*test

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
